
        <header class="header-v1">
            <div class="top-bar">
                <div class="container">
                    <div class="pull-left">
                        <ul class="list-inline social-icons">
                            <li><a href="https://web.facebook.com/Serenitykids-697806847060555/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/theserenitykids" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline">
                            <li><%= link_to "What to Donate?", new_contact_path%></li>
                            <li><%= link_to "Become a volunteer", new_contact_path%></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-sticky navbar-static-top yamm">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="images/logo2.png" alt="Logo" class="logo-default">
                            <img src="images/logo2.png" alt="Logo" class="logo-scroll"> 
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><%= link_to "Home", root_path, role:'button'%></li>
                            <li><%= link_to "About", aboutus_path, role:'button' %></li>
                            <!-- <li><%= link_to "Causes", causes_path, role:'button'%></li> -->
                            <!-- <li><%= link_to "Events", events_path, role:'button'%></li> -->
                            <li><%= link_to "Gallery", gallery_path, role:'button'%></li>
                            <li><%= link_to "Contact", contactus_path, role:'button'%></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </header>
